.message {
  font-size: 14px;
  border: 1px solid #f3c7c5;
  border-radius: 5px;

  .message-header {
    display: flex;
    align-items: center;
    padding: 10px 15px;
    color: red;
    font-weight: bold;
    background: #ffdbda;

    .top-icon {
      font-size: 20px;
      width: 20px;
      height: 20px;
      padding-right: 4px;
    }
  }
  .message-body {
    padding: 5px 30px;

    .text-red {
      color: red;
    }
  }
}
