<div class="modal-header">
  <h4 class="modal-title">
    <fa-icon [icon]="['fas', 'user-slash']"></fa-icon>
    <span class="ml-1">
      サブスクリプションの解約
    </span>
  </h4>
</div>
<div class="modal-body p-0">
  <div class="message mx-4">
    <div class="message-header">
      <fa-icon [icon]="['fas', 'exclamation-triangle']"></fa-icon>
      <span class="ml-1">
        解約に関する注意点
      </span>
    </div>
    <ul class="message-body">
      <li class="text-red">解約後の月額料金支払いはストップしますが、当月分の払い戻しはありません。</li>
      <li> 解約後でも次回更新日までの間、アマハンターは利用可能です。 </li>
      <li> 次回更新日までの間であれば、いつでも解約をキャンセルすることができます。 </li>
    </ul>
  </div>
  <div class="modal-footer justify-content-center bg-white">
    <div class="text-center">
      <button
        type="button"
        class="btn btn-danger"
        (click)="confirmNaiyo($event)"
      >
        {{ currentUser.stripe?.cancelPeriodEnd ? "解約のキャンセル" : "解約する" }}
      </button>
      <button
        type="button"
        class="btn btn-white"
        ngbAutofocus
        (click)="modalRef.close()"
      >キャンセル</button>
    </div>
  </div>
</div>