#datatable_length {
  display: flex;
  align-items: center;

  label {
    margin-bottom: 0;
  }
}

::ng-deep .table-header {
  font-size: 12px !important;
}

.valid {
  color: limegreen !important;
}

.invalid {
  color: rgb(255, 102, 102);
}
