<div class=" header bg-gradient-rakuama pb-6">
  <div class=" container-fluid">
    <div class=" header-body">
      <div class=" row align-items-center py-3">
        <div class=" col-lg-6 col-7">
          <h6 class=" h2 text-white d-inline-block mb-0">ユーザ設定</h6>

          <nav
            aria-label="breadcrumb"
            class=" d-none d-md-inline-block ml-md-4"
          >
            <ol class=" breadcrumb breadcrumb-links breadcrumb-dark">
              <li class=" breadcrumb-item">
                <a href="javascript:void(0)">
                  <fa-icon [icon]="['fas', 'home']"></fa-icon>
                </a>
              </li>
              <li
                aria-current="page"
                class=" breadcrumb-item active"
              >
                ユーザ設定
              </li>
            </ol>
          </nav>
        </div>
      </div>
    </div>
  </div>
</div>

<div class=" container-fluid mt--6">
  <div class=" row">
    <div class="col-12 col-sm-4">
      <div class=" card">
        <div class=" card-body">
          <h4 class="text-muted mb-3">
            <fa-icon [icon]="['fab', 'amazon']"></fa-icon>
            <span class="ml-2">Amazon API設定</span>
          </h4>

          <form>
            <div class="pl-sm-4">
              <div class="row">
                <div class="col-12">
                  <a
                    href="#"
                    class="badge badge-warning p-2 mb-2"
                    (click)="openSpApiLink()"
                  >SP-API連携の実施はコチラ</a>
                  <div class="form-group mb-2">
                    <label
                      class="form-control-label mb-0"
                      for="refreshToken"
                    >
                      リフレッシュトークン
                    </label>

                    <input
                      class="form-control form-control-sm"
                      id="refreshToken"
                      type="password"
                      readonly
                      [value]="spApiFlg ? 'DUMMYDUMMYDUMMYDUMMY' : ''"
                    />
                  </div>
                </div>
                <div class="col-12 pt-1">
                  <span
                    class="badge badge-pill badge-success"
                    *ngIf="spApiFlg"
                  >SP-API 連携済み</span>
                  <span
                    class="badge badge-pill badge-danger"
                    *ngIf="!spApiFlg"
                  >SP-API 未連携</span>
                </div>
              </div>
            </div>
          </form>
        </div>
      </div>
    </div>
    <!-- <div class="col-12 col-sm-4">
      <div class=" card">
        <div class=" card-body">
          <h4 class="text-muted mb-3">
            <fa-icon [icon]="['far', 'registered']"></fa-icon>
            <span class="ml-2">楽天API設定</span>
          </h4>

          <form [formGroup]="rakuForm">
            <div class="pl-sm-4">
              <div class="row">
                <div class="col-12">
                  <div
                    class="form-group mb-2"
                    [ngClass]="{ focused: focusSpuRatio }"
                  >
                    <label
                      for="spuRatio"
                      class="text-sm form-control-label mb-1"
                    >SPU基本倍率</label>
                    <div class="input-group input-group-sm input-group-merge">
                      <input
                        class="form-control input-additional-icon"
                        [ngClass]="{ 'ng-alert-border': spuRatio?.invalid && (spuRatio?.dirty || spuRatio?.touched) }"
                        formControlName="spuRatio"
                        type="number"
                        id="spuRatio"
                        required
                        (focus)="focusSpuRatio = true"
                        (blur)="focusSpuRatio = false"
                      >
                      <div class="input-group-append">
                        <span
                          class="input-group-text"
                          [ngClass]="{ 'ng-alert-border': spuRatio?.invalid && (spuRatio?.dirty || spuRatio?.touched) }"
                        >
                          <small>倍</small>
                        </span>
                      </div>
                    </div>
                  </div>
                </div>
              </div>
              <div class="row">
                <div class="col-12">
                  <div class="form-group mb-0">
                    <label
                      class="form-control-label mb-0"
                      for="appId"
                    >
                      楽天アプリID
                    </label>

                    <input
                      class="form-control form-control-sm"
                      [ngClass]="{ 'ng-alert-border': appId?.invalid && (appId?.dirty || appId?.touched) }"
                      id="appId"
                      maxlength="19"
                      formControlName="appId"
                      type="text"
                    />
                    <small
                      class="text-muted"
                      [ngClass]="{ 'text-muted': appId?.valid, 'ng-alert': appId?.invalid && (appId?.dirty || appId?.touched) }"
                    >半角数字19桁で入力</small>
                  </div>
                </div>
                <div class="col-12 pt-2">
                  <button
                    type="button"
                    class="btn btn-primary btn-sm"
                    [disabled]="rakuForm.invalid"
                    (click)="openRakuSaveDialog();"
                  >保存する</button>
                </div>
              </div>
            </div>
          </form>
        </div>
      </div>
    </div> -->
    <div class="col-12 col-sm-4">
      <div class=" card">
        <div class=" card-body">
          <h4 class="text-muted mb-3">
            <fa-icon [icon]="['fas', 'bell']"></fa-icon>
            <span class="ml-2">通知設定</span>
          </h4>

          <form [formGroup]="notifyForm">
            <div class="pl-sm-4">
              <div class="row">
                <div class="col-12">
                  <a
                    href="#"
                    class="badge badge-success p-2 mb-2"
                    (click)="openLineLink()"
                  >LINEアクセストークンの取得はコチラ</a>
                  <div class="form-group mb-2">
                    <label
                      class="form-control-label mb-0"
                      for="lineToken"
                    >
                      LINEアクセストークン
                    </label>

                    <input
                      class="form-control form-control-sm"
                      id="lineToken"
                      type="password"
                      readonly
                      [value]="lineFlg ? 'DUMMYDUMMYDUMMYDUMMY' : ''"
                    />
                  </div>
                </div>
                <div class="col-12 pt-1">
                  <span
                    class="badge badge-pill badge-success"
                    *ngIf="lineFlg"
                  >LINE 連携済み</span>
                  <span
                    class="badge badge-pill badge-danger"
                    *ngIf="!lineFlg"
                  >LINE 未連携</span>
                </div>
              </div>
            </div>
          </form>
        </div>
      </div>
    </div>
    <div class="col-12 col-sm-4">
      <div class=" card">
        <div class=" card-body">
          <h4 class="text-muted mb-3">
            <fa-icon [icon]="['far', 'registered']"></fa-icon>
            <span class="ml-2">アマカリ設定</span>
          </h4>

          <form [formGroup]="amakariForm">
            <div class="pl-sm-4">
              <div class="row">
                <div class="col-12">
                  <div
                    class="form-group mb-2"
                    [ngClass]="{ focused: focusWatchRatio }"
                  >
                    <label
                      for="watchRatio"
                      class="text-sm form-control-label mb-1"
                    >通知条件</label>
                    <fa-icon
                      role="button"
                      class="ml-2"
                      tooltipClass="custom-tooltip"
                      placement="top"
                      triggers="click"
                      ngbTooltip="前回価格から何％価格が下がったら通知するか"
                      [icon]="['fas', 'question-circle']"
                    ></fa-icon>

                    <div class="input-group input-group-sm input-group-merge">
                      <input
                        class="form-control input-additional-icon"
                        [ngClass]="{ 'ng-alert-border': watchRatio?.invalid && (watchRatio?.dirty || watchRatio?.touched) }"
                        formControlName="watchRatio"
                        type="number"
                        id="watchRatio"
                        required
                        (focus)="focusWatchRatio = true"
                        (blur)="focusWatchRatio = false"
                      >
                      <div class="input-group-append">
                        <span
                          class="input-group-text"
                          [ngClass]="{ 'ng-alert-border': watchRatio?.invalid && (watchRatio?.dirty || watchRatio?.touched) }"
                        >
                          <small>%</small>
                        </span>
                      </div>
                    </div>
                  </div>
                </div>
                <div class="col-12 pt-2">
                  <button
                    type="button"
                    class="btn btn-primary btn-sm"
                    [disabled]="amakariForm.invalid"
                    (click)="openAmakariSaveDialog();"
                  >保存する</button>
                </div>
              </div>
            </div>
          </form>
        </div>
      </div>
    </div>
    <!-- <div class="col-12 col-sm-4">
      <div class=" card">
        <div class=" card-body">
          <h4 class="text-muted mb-3">
            <fa-icon [icon]="['fas', 'store']"></fa-icon>
            <span class="ml-2">ショップマスタ設定</span>
          </h4>

          <form>
            <div class="pl-sm-4">
              <div class="row">
                <div class="col-12 pb-3">
                  <button
                    type="button"
                    class="btn btn-primary btn-sm"
                    [disabled]="shopList.length >= 50"
                    (click)="openModal(content, 'add')"
                  >マスタを追加する</button>
                </div>
              </div>
              <div class="row">
                <div class="col-12">
                  <div
                    cdkDropList
                    class="dd-list"
                    (cdkDropListDropped)="drop($event)"
                  >
                    <div
                      class="dd-box"
                      *ngFor="let shop of shopList; index as i"
                      cdkDrag
                    >
                      <span class="shop-name">{{ shop.shopName }}</span>
                      <span class="shop-code">{{ shop.shopCode }}</span>
                      <span class="shop-icon">
                        <fa-icon
                          [icon]="['fas', 'edit']"
                          class="fa-icon"
                          (click)="openModal(content, 'edit', shop, i)"
                        ></fa-icon>
                      </span>
                      <span class="shop-icon">
                        <fa-icon
                          [icon]="['fas', 'trash-alt']"
                          class="fa-icon"
                          (click)="openModal(content, 'delete', shop, i)"
                        ></fa-icon>
                      </span>
                    </div>
                  </div>
                </div>
                <div class="col-12 pt-3">
                  <button
                    type="button"
                    class="btn btn-primary btn-sm"
                    (click)="openShopSaveDialog()"
                  >保存する</button>
                </div>
              </div>
            </div>
          </form>
        </div>
      </div>
    </div> -->
  </div>
</div>

<ng-template
  #content
  let-modal
>
  <div class="modal-header pb-0">
    <h3 class="mb-0">{{ modalTitle }}</h3>
  </div>
  <div class="modal-body py-3">
    <form [formGroup]="modalForm">
      <div class="form-group mb-2">
        <label for="modalShopName"><small>ショップ名</small></label>
        <div class="input-group input-group-sm">
          <input
            id="modalShopName"
            class="form-control"
            [ngClass]="{ 'ng-alert-border': shopName?.invalid && (shopName?.dirty || shopName?.touched), 'no-focus': modalType == 'delete' }"
            placeholder="例）楽天ブックス"
            formControlName="shopName"
            maxlength="30"
            [readonly]="modalType == 'delete'"
          >
        </div>
      </div>
      <div class="form-group mb-0">
        <label for="modalShopCode"><small>ショップコード</small></label>
        <div class="input-group input-group-sm">
          <input
            id="modalShopCode"
            class="form-control"
            [ngClass]="{ 'ng-alert-border': shopCode?.invalid && (shopCode?.dirty || shopCode?.touched), 'no-focus': modalType == 'delete' }"
            placeholder="例）book"
            formControlName="shopCode"
            maxlength="30"
            [readonly]="modalType == 'delete'"
          >
        </div>
      </div>
    </form>
  </div>
  <div class="modal-footer justify-content-center pt-0">
    <button
      type="button"
      class="btn btn-sm btn-primary"
      [ngClass]="{ 'btn-danger': modalType == 'delete' }"
      [disabled]="modalForm.invalid"
      (click)="modal.close({'shopName':shopName?.value, 'shopCode':shopCode?.value})"
    >{{ modalBtn }}</button>
    <button
      type="button"
      class="btn btn-sm btn-white"
      ngbAutofocus
      (click)="modal.close()"
    >キャンセル</button>
  </div>
</ng-template>