<div class="modal-header">
  <h4 class="modal-title">
    <fa-icon [icon]="['far', 'credit-card']"></fa-icon>
    <span class="ml-1">
      契約情報
    </span>
  </h4>
</div>
<div class="modal-body p-0">
  <div class="card bg-secondary shadow">
    <div class="card-body px-lg-3 py-lg-3">
      <div class="row pb-2">
        <label class="col-12 font-weight-bold mb-1"> 登録中のクレジットカード</label>
        <div
          class="col-12 pl-4 mb-0"
          *ngIf="mode != 1"
        >
          {{ cardBrand }} - **** **** **** {{ cardLast4 }} {{ cardExpire }}
        </div>
        <div
          class="col-12 pl-4 mb-0"
          *ngIf="mode == 1"
        >
          未登録
        </div>
      </div>
      <div
        class="row pb-2"
        *ngIf="mode != 1"
      >
        <div class="col-4">
          <label class="font-weight-bold mb-1">
            ステータス
          </label><br>
          <div class="">
            <span
              class="text-res-14px invalid"
              [ngClass]="{ valid: currentUser.stripe.status == 'trialing' || currentUser.stripe.status == 'active' }"
            >
              {{ statusMap[currentUser.stripe.status] }}
            </span>
          </div>
        </div>
        <div
          class="col-4"
          *ngIf="currentUser.stripe?.status == 'trialing'"
        >
          <label class="font-weight-bold mb-1">
            試用終了日
          </label><br>
          <div class="">
            <span class="text-res-14px">
              {{ currentUser.stripe?.trialEnd | date: "yyyy/MM/dd" }}
            </span>
          </div>
        </div>
        <div
          class="col-8"
          *ngIf="currentUser.stripe?.status != 'trialing'"
        >
          <label class="font-weight-bold mb-1">
            次回更新日
          </label><br>
          <div class="">
            <span class="text-res-14px">
              {{ currentUser.stripe?.nextDate | date: "yyyy/MM/dd" }}
              <span *ngIf="currentUser.stripe?.cancelPeriodEnd">
                <font color="red">(解約予約中)</font>
              </span>
            </span>
          </div>
        </div>
      </div>
    </div>
  </div>
  <div class="modal-footer justify-content-center">
    <div class="text-center">
      <button
        type="button"
        class="btn btn-primary"
        (click)="createCard()"
        *ngIf="mode == 1"
      >カードを登録する</button>
      <button
        type="button"
        class="btn btn-primary"
        (click)="changeCard()"
        *ngIf="mode == 2"
      >ｶｰﾄﾞ変更</button>
      <button
        type="button"
        class="btn btn-danger"
        (click)="cancelCard()"
        *ngIf="mode == 2"
      >解約</button>
      <button
        type="button"
        class="btn btn-white"
        ngbAutofocus
        (click)="modalRef.close()"
      >キャンセル</button>
    </div>
  </div>