.modal-body {
  .card {
    margin-bottom: 0;

    .small-red {
      font-size: 11px;
      color: rgb(255, 102, 102);
    }

    .valid {
      color: limegreen !important;
    }
    .invalid {
      color: rgb(255, 102, 102);
    }
  }
}
