<div class="modal-header">
  <h4 class="modal-title">
    <fa-icon [icon]="['fas', 'key']"></fa-icon>
    <span class="ml-1">
      パスワード変更
    </span>
  </h4>
</div>
<div class="modal-body p-0">
  <div class="card bg-secondary shadow">
    <div class="card-body p-lg-3">
      <form
        role="form"
        [formGroup]="passForm"
      >
        <div class="row mb-2">
          <div class="col-12">
            <div
              class="form-group mb-0"
              [ngClass]="{ focused: focus1 }"
            >
              <label
                for="current-pass"
                class="text-sm form-control-label mb-1"
              >現在のパスワード</label>
              <div class="input-group input-group-sm input-group-merge">
                <input
                  class="form-control input-additional-icon"
                  [ngClass]="{ 'ng-alert-border': currentPass?.invalid && (currentPass?.dirty || currentPass?.touched) }"
                  formControlName="currentPass"
                  [type]="currentPassHide ? 'password' : 'text'"
                  id="current-pass"
                  required
                  (focus)="focus1 = true"
                  (blur)="focus1 = false"
                >
                <div class="input-group-append">
                  <span
                    class="input-group-text"
                    [ngClass]="{ 'ng-alert-border': currentPass?.invalid && (currentPass?.dirty || currentPass?.touched) }"
                  >
                    <fa-icon
                      role="button"
                      style="font-size:13px;"
                      [icon]="['fas', 'eye']"
                      *ngIf="!currentPassHide"
                      (click)="currentPassHide = !currentPassHide"
                    ></fa-icon>
                    <fa-icon
                      role="button"
                      style="font-size:13px;"
                      [icon]="['fas', 'eye-slash']"
                      *ngIf="currentPassHide"
                      (click)="currentPassHide = !currentPassHide"
                    ></fa-icon>
                  </span>
                </div>
              </div>
            </div>
          </div>
          <div class="col-12 mt-2">
            <div
              class="form-group mb-0"
              [ngClass]="{ focused: focus2 }"
            >
              <label
                for="new-pass"
                class="text-sm form-control-label mb-1"
              >新しいパスワード</label>
              <div class="input-group input-group-sm input-group-merge">
                <input
                  class="form-control input-additional-icon"
                  [ngClass]="{ 'ng-alert-border': (newPass?.invalid && (newPass?.dirty || newPass?.touched)) || (newPass?.value !== confirmPass?.value && (confirmPass?.dirty || confirmPass?.touched)) }"
                  formControlName="newPass"
                  [type]="newPassHide ? 'password' : 'text'"
                  id="new-pass"
                  required
                  (focus)="focus2 = true"
                  (blur)="focus2 = false"
                >
                <div class="input-group-append">
                  <span
                    class="input-group-text"
                    [ngClass]="{ 'ng-alert-border': (newPass?.invalid && (newPass?.dirty || newPass?.touched)) || (newPass?.value !== confirmPass?.value && (confirmPass?.dirty || confirmPass?.touched)) }"
                  >
                    <fa-icon
                      role="button"
                      style="font-size:13px;"
                      [icon]="['fas', 'eye']"
                      *ngIf="!newPassHide"
                      (click)="newPassHide = !newPassHide"
                    ></fa-icon>
                    <fa-icon
                      role="button"
                      style="font-size:13px;"
                      [icon]="['fas', 'eye-slash']"
                      *ngIf="newPassHide"
                      (click)="newPassHide = !newPassHide"
                    ></fa-icon>
                  </span>
                </div>
              </div>
            </div>
          </div>
          <div class="col-12 mt-2">
            <div
              class="form-group mb-0"
              [ngClass]="{ focused: focus3 }"
            >
              <label
                for="confirm-pass"
                class="text-sm form-control-label mb-1"
              >新しいパスワード（確認）</label>
              <div class="input-group input-group-sm input-group-merge">
                <input
                  class="form-control input-additional-icon"
                  [ngClass]="{ 'ng-alert-border': (confirmPass?.invalid && (confirmPass?.dirty || confirmPass?.touched)) || (newPass?.value !== confirmPass?.value && (newPass?.dirty || newPass?.touched)) }"
                  formControlName="confirmPass"
                  [type]="confirmPassHide ? 'password' : 'text'"
                  id="confirm-pass"
                  required
                  (focus)="focus3 = true"
                  (blur)="focus3 = false"
                >
                <div class="input-group-append">
                  <span
                    class="input-group-text"
                    [ngClass]="{ 'ng-alert-border': (confirmPass?.invalid && (confirmPass?.dirty || confirmPass?.touched)) || (newPass?.value !== confirmPass?.value && (newPass?.dirty || newPass?.touched)) }"
                  >
                    <fa-icon
                      role="button"
                      style="font-size:13px;"
                      [icon]="['fas', 'eye']"
                      *ngIf="!confirmPassHide"
                      (click)="confirmPassHide = !confirmPassHide"
                    ></fa-icon>
                    <fa-icon
                      role="button"
                      style="font-size:13px;"
                      [icon]="['fas', 'eye-slash']"
                      *ngIf="confirmPassHide"
                      (click)="confirmPassHide = !confirmPassHide"
                    ></fa-icon>
                  </span>
                </div>
              </div>
            </div>
          </div>
        </div>
      </form>
    </div>
  </div>
</div>
<div class="modal-footer justify-content-center pt-0">
  <div class="text-center">
    <button
      type="button"
      class="btn btn-primary"
      [disabled]="passForm.invalid || newPass?.value !== confirmPass?.value"
      (click)="onOkClick()"
    >変更する</button>
    <button
      type="button"
      class="btn btn-white"
      ngbAutofocus
      (click)="modalRef.close()"
    >キャンセル</button>
  </div>
</div>