<div class="modal-header">
  <h4 class="modal-title">
    <fa-icon [icon]="titleIcon"></fa-icon>
    <span class="ml-1">
      {{ title }}
    </span>
  </h4>
</div>
<div class="modal-body p-0">
  <div class="card bg-secondary shadow">
    <div class="card-body px-lg-3 py-lg-3">
      <form
        role="form"
        [formGroup]="userForm"
      >
        <div
          class=" form-group"
          [ngClass]="{ focused: focus1 === true }"
        >
          <label
            for="dispName"
            class="form-control-label"
          > ユーザ名 - <span class="small-red">必須</span></label>
          <div class=" input-group input-group-merge">
            <div class=" input-group-prepend">
              <span
                class=" input-group-text"
                [ngClass]="{ 'ng-alert-border': dispName?.invalid && (dispName?.dirty || dispName?.touched) }"
              >
                <fa-icon [icon]="['fas', 'user']"></fa-icon>
              </span>
            </div>
            <input
              id="dispName"
              class="form-control"
              [ngClass]="{ 'ng-alert-border': dispName?.invalid && (dispName?.dirty || dispName?.touched) }"
              placeholder="例）ヤマダ タロウ"
              formControlName="dispName"
              type="text"
              maxlength="30"
              required
              (focus)="focus1 = true"
              (blur)="focus1 = false"
            />
          </div>
          <div
            *ngIf="dispName?.invalid && (dispName?.dirty || dispName?.touched)"
            class="ng-alert"
          >
            <div>
              ユーザ名を入力してください
            </div>
          </div>
        </div>
        <div
          class=" form-group"
          [ngClass]="{ focused: focus2 === true }"
        >
          <label
            for="mail"
            class="form-control-label"
          > メールアドレス - <span class="small-red">必須</span></label>
          <div class=" input-group input-group-merge">
            <div class=" input-group-prepend">
              <span
                class=" input-group-text"
                [ngClass]="{ 'ng-alert-border': mail?.invalid && (mail?.dirty || mail?.touched) }"
              >
                <fa-icon [icon]="['fas', 'envelope']"></fa-icon>
              </span>
            </div>
            <input
              id="mail"
              class="form-control"
              [ngClass]="{ 'ng-alert-border': mail?.invalid && (mail?.dirty || mail?.touched) }"
              placeholder="例）sample@sample.com"
              formControlName="mail"
              type="email"
              required
              (focus)="focus2 = true"
              (blur)="focus2 = false"
            />
          </div>
          <div
            *ngIf="mail?.errors?.required && (mail?.dirty || mail?.touched)"
            class="ng-alert"
          >
            <div>
              メールアドレスを入力してください
            </div>
          </div>
          <div
            *ngIf="mail?.errors?.email && (mail?.dirty || mail?.touched)"
            class="ng-alert"
          >
            <div>
              メールアドレス形式で入力してください
            </div>
          </div>
        </div>
        <div
          class="form-group"
          [ngClass]="{ focused: focus3 === true }"
        >
          <label
            for="role"
            class="form-control-label"
          > 権限 - <span class="small-red">必須</span></label>
          <div class="input-group input-group-merge">
            <div class="input-group-prepend">
              <span class="input-group-text">
                <fa-icon [icon]="['fas', 'user-shield']"></fa-icon>
              </span>
            </div>
            <select
              class="form-control"
              placeholder="選択してください"
              formControlName="role"
              id="role"
              (focus)="focus3 = true"
              (blur)="focus3 = false"
            >
              <ng-container *ngFor="let tmp of roleMap | keyvalue: util.keyAscOrder">
                <option
                  [value]="tmp.key"
                  *ngIf="tmp.value"
                >
                  {{ tmp.value }}
                </option>
              </ng-container>
            </select>
          </div>
        </div>
      </form>
    </div>
  </div>
</div>
<div class="modal-footer justify-content-center">
  <div class="text-center">
    <button
      type="button"
      class="btn btn-primary"
      (click)="addUser()"
      [disabled]="userForm.invalid"
    >追加する</button>
    <button
      type="button"
      class="btn btn-white"
      ngbAutofocus
      (click)="modalRef.close()"
    >キャンセル</button>
  </div>
</div>