.row-item {
  min-height: 86px;
}
.item-image {
  max-height: 70px;
  max-width: 70px;
  object-fit: cover;
  border: 1px solid #cccccc;
}

/** checkbox関連 */
::ng-deep .mat-ripple {
  display: none;
}

::ng-deep .mat-checkbox-layout {
  margin-bottom: 0;
}

::ng-deep .custom-mat-check {
  &.mat-checkbox-background, .mat-checkbox-frame {
    background-color: #f7fafc;
    border: 1px solid #bbb;
    border-radius: 4px !important;
  }
  &.mat-checkbox-indeterminate .mat-checkbox-background,
  &.mat-checkbox-checked .mat-checkbox-background {
    background-color: #5e72e4;
    border-radius: 4px;
  }
}
/** checkbox関連 */

::ng-deep .custom-tooltip {
  font-size: 0.75rem !important;
}

/** アクションメニュー */
.action-menu {
  button[ngbDropdownToggle] {
    min-width: 150px;
    color: #5e72e4;
    background-color: #fff;
    &:hover {
      color: #5e72e4;
      background-color: #fff;
    }
    &[aria-expanded="true"] {
      color: #fff;
      background-color: #5e72e4;
    }
  }
  .dropdown-item:not(:last-child) {
    border-bottom: 1px solid lightgrey;
  }
}

@media (max-width: 576px) {
  .main-card {
    background: transparent;
    box-shadow: none;

    .main-row {
      background: #fff;
      box-shadow: 0 0 2rem 0 rgb(136 152 170 / 15%);
    }
  }
}
